@model ScannerCC.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Auth" method="post">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" name="Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" name="Rut" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Rol">Rol:</label>

                <select name="Rol" id="Rol">
                  <option value="Especialista">Especialista</option>

                  <option value="Administrador">Adminstrador</option>
                </select>
            </div

            <div class="form-group">
                <label class="control-label"></label>
                <input name="Password" name="Password" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
